// Variables
$ten: 10px;
$onepx: 1px;
$none: none;
$font: Cambria, Georgia;
$hundred: 100%;
$auto: auto;
$box: border-box;
$zero: 0;

// Selectors
$selectorMap: (
  global: "*",
  globalimg: "img",
  body: "body",
);
