#{selector(global)} {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

#{selector(body)} {
  font: Cambria, Georgia;
}

#{selector(globalimg)} {
  width: 100%;
  max-width: 100%;
  height: auto;
}
